<div id="container">
    <div id="result">
        <div id="help">
            Welcome to Ledis CLI<br>
            You can use up and down arrow for command history
        </div>
    </div>
    <div id="terminal_box">
        <div id="prompt">>Ledis:</div>
        <input id="terminal" type="text">
    </div>
    
</div>